#
# Normal rules
#
.*
!.gitignore
*.o
*.o.*
*.a
*.s
*.d
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.pyo
*.pyc
*.exe
*.ini
*.gz
*.bz2
*.lzma
*.tgz
*.tar.gz
*.tbz
*.tar.bz2
*.txz
*.tar.xz

#
#gcov/lcov
#
*.gcno
*.gcda
*.gcov
*.info

#
#LaTeX
#
*.pdf
*.out
*.aux
*.bbl
*.blg
*.log
*.toc
*.ptb
*.tod 
*.fls
*.fdb_latexmk
*.lof
*.ps
*.dvi

# stgit generated dirs
patches-*

#
# quilt's files
#
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

#
#patch
#
*.patch
*.diff
*.orig
*.rej

#
#Emacs
#
*~
\#*#

#
#Vim
#
.*.sw*

#
#menuconfig
#
.config
..config.tmp
_config
include/kern/autoconf.h
#
#kernel
#
kernel.elf
kernel.asm
kernel.sym
objs/
lcov-outputs-*/
hal/hal
include/hal
kernel.lds
kernel.map
include/klib/asm-offset.h
asm-offset.s
configs/hal
fsimg.img
fsimg.S
#
#Minixfs Tools
#
mkfs.minixfs
copyfile.minixfs
*.img
